.hidden {
  display: none !important;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.hidden-visibility {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.button-close {
  background-image: none;
  -moz-box-sizing: content-box;
  border: 0;
  box-shadow: none;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-shadow: none;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  position: absolute;
}
.center-transform {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.dflex {
  display: -webkit-box;
  display: -ms-flex-box;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}
.dflex:before,
.dflex:after {
  display: none;
}
.tab-content {
  overflow: hidden;
}
.tab-content .content {
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.tab-content .content.active-tab-content {
  height: auto;
  opacity: 1;
  visibility: visible;
}
* {
  margin: 0;
  padding: 0;
  user-select: none;
}
*:focus {
  box-shadow: none;
  outline: none;
}
body,
html {
  font-family: 'Inter', sans-serif;
}
body button,
body a,
body .btn-check:focus + .btn,
body .btn:focus {
  border: none;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  text-decoration: none;
}
body button:focus,
body a:focus,
body .btn-check:focus + .btn:focus,
body .btn:focus:focus,
body button:hover,
body a:hover,
body .btn-check:focus + .btn:hover,
body .btn:focus:hover,
body button:focus-visible,
body a:focus-visible,
body .btn-check:focus + .btn:focus-visible,
body .btn:focus:focus-visible,
body button:active,
body a:active,
body .btn-check:focus + .btn:active,
body .btn:focus:active,
body button:visited,
body a:visited,
body .btn-check:focus + .btn:visited,
body .btn:focus:visited {
  text-decoration: none;
  outline: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0;
}
ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
table th {
  text-align: left;
}
table .col {
  width: auto;
}
@media only screen and (min-width: 1600px) {
  .container {
    max-width: 1600px;
    padding: 0 30px;
  }
}
@media only screen and (max-width: 1599px) {
  body .container {
    max-width: 100%;
    padding: 0 32px;
  }
}
@media only screen and (max-width: 1199px) {
  body .container {
    padding: 0 15px;
  }
}
