* {
	outline: none;
}

//button,link
button,
a {
	.transition();

	&:hover {
		text-decoration: none;
	}
}

* {
	&:focus {
		box-shadow: none;
		outline: none;
	}
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin-bottom: 0;
}

ul {
	padding: 0;
	list-style: none;
}

table {
	th {
		text-align: left;
	}

	.col {
		width: auto;
	}
}