@import './_mixin.less';

* {
	margin: 0;
	padding: 0;
	user-select: none;
}

body,
html {
	font-family: 'Inter', sans-serif;
}

//button,link
button,
a {
	border: none;
	.transition(all .3s ease);

	&:focus,
	&:hover {
		text-decoration: none;
		outline: none;
		border: none;
	}
}

* {
	&:focus {
		box-shadow: none;
		outline: none;
	}
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin-bottom: 0;
}

ul {
	padding: 0;
	list-style: none;
	margin: 0;
}

table {
	th {
		text-align: left;
	}

	.col {
		width: auto;
	}
}

@screen__xxs: 320px;
@screen__xs-m: 360px;
@screen__xs-l: 413px;
@screen__xs: 480px;
@screen__ss: 576px;
@screen__s: 640px;
@screen__m: 768px;
@screen__xm: 992px;
@screen__l: 1024px;
@screen__xl-m: 1200px;
@screen__xxl-m: 1440px;
@screen__xxl-l: 1600px;
@screen__xxl: 1920px;

@media only screen and (min-width: 1600px){
	.container {
		max-width: 1600px;
		padding: 0 30px;
	}
}
