* {
  margin: 0;
  padding: 0;
}
body,
html {
  font-family: 'Inter', sans-serif;
}
button,
a {
  border: none;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
button:focus,
a:focus,
button:hover,
a:hover {
  text-decoration: none;
  outline: none;
  border: none;
}
*:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0;
}
ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
table th {
  text-align: left;
}
table .col {
  width: auto;
}
@media only screen and (min-width: 1600px) {
  .container {
    max-width: 1600px;
    padding: 0 30px;
  }
}
.hidden {
  display: none !important;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.hidden-visibility {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.button-close {
  background-image: none;
  -moz-box-sizing: content-box;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-shadow: none;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  position: absolute;
}
.center-transform {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.dflex {
  display: -webkit-box;
  display: -ms-flex-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.dflex:before,
.dflex:after {
  display: none;
}
.tab-content {
  overflow: hidden;
}
.tab-content .content {
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.tab-content .content .active-tab-content {
  height: auto;
  opacity: 1;
  visibility: visible;
}
h3.title {
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.01em;
  color: #242424;
  margin-bottom: 15px;
}
p.desc {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}
.contact-us-block {
  background-image: url(../../images/page/about_us/bg_1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 60px;
  padding-top: 15px;
}
.contact-us-block.block-bottom {
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
  background-attachment: scroll;
  background-position: center bottom;
  background-image: url(../../images/page/about_us/bg_3.jpg);
}
.contact-us-block.block-bottom .form-contact {
  background-color: transparent;
}
.contact-us-block .breadcrumbs {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #999999;
  padding: 0 30px;
  margin-bottom: 30px;
}
.contact-us-block .breadcrumbs span {
  display: inline-block;
  margin: 0 5px;
}
.contact-us-block .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact-us-block .form-contact {
  background-color: white;
  padding: 45px 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact-us-block .form-contact .title-form {
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: -0.01em;
  color: #242424;
  margin-bottom: 15px;
}
.contact-us-block .form-contact .form-desc {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #242424;
  margin-bottom: 30px;
}
.contact-us-block .form-contact .field {
  width: 100%;
  height: 56px;
  line-height: 56px;
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 1px;
  padding: 0 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 37px;
  margin-bottom: 15px;
}
.contact-us-block .form-contact .field::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 37px;
}
.contact-us-block .form-contact .field::-moz-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 37px;
}
.contact-us-block .form-contact .field:-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 37px;
}
.contact-us-block .form-contact .field::-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 37px;
}
.contact-us-block .form-contact .field::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 37px;
}
.contact-us-block .form-contact .btn-submit-form-contact {
  height: 56px;
  line-height: 56px;
  background: #242424;
  border-radius: 1px;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #FFFFFF;
}
.why-choose-us-block {
  background-image: url(../../images/page/about_us/bg_2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  padding: 65px 0;
  margin-bottom: 60px;
}
.why-choose-us-block h3.title {
  color: #FFFFFF;
  margin-bottom: 25px;
}
.why-choose-us-block p.desc {
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}
.why-choose-us-block .slogan-us {
  max-width: 90%;
}
.why-choose-us-block .commit-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.why-choose-us-block .commit-list li:not(:last-child) {
  margin-bottom: 30px;
}
.why-choose-us-block .commit-list li:not(:last-child) p:after {
  content: '';
  position: absolute;
  bottom: -15px;
  width: 100%;
  height: 1px;
  left: 0;
  background: #303647;
}
.why-choose-us-block .commit-list li span {
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 53px;
  line-height: 69px;
  letter-spacing: -0.01em;
  color: #434B63;
  display: inline-block;
  margin-right: 15px;
  text-align: center;
  line-height: 70px;
  height: 70px;
}
.why-choose-us-block .commit-list li p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 24px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner-exhibition {
  position: relative;
  margin-bottom: 65px;
  overflow: hidden;
}
.banner-exhibition:hover img {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.banner-exhibition img {
  width: 100%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.banner-exhibition .exhibition-content {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 45px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.banner-exhibition h3.title {
  color: #FFFFFF;
}
.banner-exhibition p.desc {
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}
.banner-exhibition .content-wrapper {
  width: 40%;
}
.post-wrapper {
  margin-bottom: 65px;
}
.post-wrapper .row {
  margin: 0 -20px;
}
.post-wrapper [class*="col-"] {
  padding: 0 20px;
}
.post-wrapper img {
  width: 100%;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.post-wrapper .img-post {
  overflow: hidden;
}
.post-wrapper .img-post:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.post-wrapper h3.title {
  margin-top: 15px;
  margin-bottom: 10px;
}
.post-wrapper h3.title:hover {
  color: #993a3a;
}
.category-tab h3.title {
  margin-bottom: 25px;
}
.category-tab .magic-tabs {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
.category-tab .magic-tabs li {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #757575;
  margin: 0 12px;
  position: relative;
  cursor: pointer;
}
.category-tab .magic-tabs li:after {
  content: "";
  position: absolute;
  height: 2px;
  background: #242424;
  width: 0;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  left: 0;
  bottom: -5px;
}
.category-tab .magic-tabs li:hover {
  color: #242424;
}
.category-tab .magic-tabs li:hover:after {
  width: 100%;
}
.category-tab .magic-tabs li.action-tab-btn {
  color: #242424;
}
.category-tab .magic-tabs li.action-tab-btn:after {
  width: 100%;
}
@media only screen and (min-width: 1600px) {
  .container {
    max-width: 1140px;
    padding: 0;
  }
}
