* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
body,
html {
  font-family: 'Inter', sans-serif;
}
button,
a {
  border: none;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
button:focus,
a:focus,
button:hover,
a:hover {
  text-decoration: none;
  outline: none;
  border: none;
}
*:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0;
}
ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
table th {
  text-align: left;
}
table .col {
  width: auto;
}
@media only screen and (min-width: 1600px) {
  .container {
    max-width: 1600px;
    padding: 0 30px;
  }
}
.hidden {
  display: none !important;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.hidden-visibility {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.button-close {
  background-image: none;
  -moz-box-sizing: content-box;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-shadow: none;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  position: absolute;
}
.center-transform {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.dflex {
  display: -webkit-box;
  display: -ms-flex-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.dflex:before,
.dflex:after {
  display: none;
}
.tab-content {
  overflow: hidden;
}
.tab-content .content {
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.tab-content .content.active-tab-content {
  height: auto;
  opacity: 1;
  visibility: visible;
}
.breadcrumbs-wrapper {
  margin-bottom: 25px;
  margin-top: 15px;
}
.breadcrumbs-wrapper .breadcrumbs {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #999999;
  margin-bottom: 0;
}
.breadcrumbs-wrapper .breadcrumbs a {
  color: #999999;
}
.breadcrumbs-wrapper .breadcrumbs a:hover {
  color: #242424;
}
.breadcrumbs-wrapper .breadcrumbs span {
  display: inline-block;
  margin: 0 5px;
}
.breadcrumbs-wrapper h2.title {
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #242424;
}
.category-sidebar {
  width: 20%;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  padding: 0 15px;
}
.category-sidebar ul {
  list-style: none;
  padding: 0;
}
.category-sidebar .show-option {
  color: #242424;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.category-sidebar .show-option:hover {
  color: #993a3a;
}
.category-sidebar .show-option .name-option {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  text-transform: uppercase;
}
.category-sidebar .show-option .show {
  font-size: 25px;
  line-height: 30px;
}
.category-sidebar .list-support-fiter > li:not(:last-child) {
  margin-bottom: 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid #EFEFEF;
}
.category-sidebar .list-support-option {
  margin-top: 15px;
}
.category-sidebar .list-support-option li {
  cursor: pointer;
}
.category-sidebar .list-support-option.size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.category-sidebar .list-support-option.size li {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 1px;
  padding: 15px 20px;
  margin-right: 10px;
  line-height: 20px;
  margin-bottom: 10px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.category-sidebar .list-support-option.size li:hover,
.category-sidebar .list-support-option.size li.active {
  background: #242424;
}
.category-sidebar .list-support-option.size li:hover a,
.category-sidebar .list-support-option.size li.active a {
  color: white;
  text-decoration: none;
}
.category-sidebar .list-support-option.color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.category-sidebar .list-support-option.color li {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.category-sidebar .list-support-option.color li:hover,
.category-sidebar .list-support-option.color li.active {
  border: 2px solid #9A9A9A;
}
.category-sidebar .list-support-option.color li a {
  font-size: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.category-sidebar .list-support-option a {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #808080;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  text-transform: capitalize;
}
.category-sidebar .list-support-option:not(.swatch) li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
.category-sidebar .list-support-option:not(.swatch) li:not(:last-child) {
  margin-bottom: 15px;
}
.category-sidebar .list-support-option:not(.swatch) li:before {
  content: url(../../images/page/category/check.png);
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  left: 0;
}
.category-sidebar .list-support-option:not(.swatch) li:hover,
.category-sidebar .list-support-option:not(.swatch) li.active {
  padding-left: 25px;
}
.category-sidebar .list-support-option:not(.swatch) li:hover:before,
.category-sidebar .list-support-option:not(.swatch) li.active:before {
  opacity: 1;
}
.category-sidebar .list-support-option:not(.swatch) li:hover a,
.category-sidebar .list-support-option:not(.swatch) li.active a {
  color: #242424;
  text-decoration: none;
}
.product-wrapper {
  width: 100%;
  margin-bottom: 40px;
}
.product-wrapper:hover .product-img-wrapper .add-to-wishlist {
  opacity: 1;
  visibility: visible;
  right: 15px;
  bottom: 20px;
}
.product-wrapper:hover .product-img-first {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0;
}
.product-wrapper:hover .product-img-second {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
.product-img-wrapper {
  position: relative;
  overflow: hidden;
}
.product-img-wrapper img {
  width: 100%;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.product-img-wrapper .product-img {
  position: relative;
  display: block;
}
.product-img-wrapper .product-img-second {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-img-wrapper .add-to-wishlist {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.product-img-wrapper .add-to-wishlist:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.product-label {
  position: absolute;
  z-index: 3;
}
.product-label .label-content {
  min-width: 54px;
  height: 23px;
  text-align: center;
  background: #242424;
}
.product-label .label-content .discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}
.product-label .label-content:before {
  border-style: solid;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 0 0 23px 12px;
  right: -12px;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  border-left-color: #242424;
}
.product-label .discount {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
.product-status {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  margin-top: 10px;
}
.product-name {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #242424;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  margin-bottom: 5px;
  margin-top: 5px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 48px;
}
.product-name:hover {
  color: #993a3a;
}
.product-price-wrapper .new-price {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
  margin-right: 5px;
}
.product-price-wrapper .old-price {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  text-decoration: line-through;
  margin-right: 5px;
}
.product-price-wrapper .discount {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #C31D1D;
}
.category-products {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  padding: 0 15px;
}
.pagination {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.pagination a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #242424;
  border: 1px solid #ffffff;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  padding: 5px 20px;
  margin: 0 5px;
}
.pagination a.none {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #CBCBCB;
  cursor: no-drop;
}
.pagination a.none:hover {
  border: 1px solid #ffffff;
}
.pagination a.prev i {
  margin-right: 5px;
}
.pagination a.next i {
  margin-left: 5px;
}
.pagination a.active,
.pagination a:hover {
  border: 1px solid #ADADAD;
}
.filter-group-wrapper {
  margin-bottom: 30px;
}
.filter-group-wrapper .btn-action {
  height: 42px;
  line-height: 42px;
  background: #242424;
  padding: 5px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 1px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 1;
  cursor: pointer;
  border: none;
}
.filter-group-wrapper .btn-action i {
  font-size: 0;
  width: 18px;
  height: 18px;
  margin-left: 40px;
}
.filter-group-wrapper .btn-action i:after {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.filter-group-wrapper .btn-action.closer i:after {
  content: url(../../images/page/category/close.png);
}
.filter-group-wrapper .btn-action.open i:after {
  content: url(../../images/page/category/open.png);
}
.filter-group-wrapper .btn-action:hover,
.filter-group-wrapper .btn-action:focus {
  -webkit-box-shadow: -2px 2px 10px -1px #000000;
          box-shadow: -2px 2px 10px -1px #000000;
  opacity: 1;
  border: none;
  outline: none;
}
.filter-group-wrapper .list-keyword {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 30px;
  margin: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.filter-group-wrapper .list-keyword li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 39px;
  background: #F7F7F7;
  border-radius: 1px;
  margin: 5px 10px;
  border: 1px solid #F7F7F7;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  white-space: nowrap;
}
.filter-group-wrapper .list-keyword li.btn-clear-all {
  background: transparent;
}
.filter-group-wrapper .list-keyword li.btn-clear-all:hover {
  border: 1px solid #F7F7F7;
}
.filter-group-wrapper .list-keyword li.btn-clear-all a {
  text-decoration: underline;
}
.filter-group-wrapper .list-keyword li.btn-clear-all a:before {
  display: none;
}
.filter-group-wrapper .list-keyword li.btn-clear-all a:hover {
  color: #993a3a;
}
.filter-group-wrapper .list-keyword li:hover {
  border: 1px solid #242424;
}
.filter-group-wrapper .list-keyword li a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #242424;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.filter-group-wrapper .list-keyword li a:before {
  content: url(../../images/page/category/clear-option.png);
  display: inline-block;
  margin-right: 10px;
}
.filter-group-wrapper .list-keyword li a.color span {
  font-size: 0;
  width: 17px;
  height: 17px;
  border-radius: 50px;
  display: block;
}
.filter-group-wrapper .select-sort-option {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.filter-group-wrapper .select-sort-option .total-product {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #999999;
  line-height: 25px;
}
.filter-group-wrapper .select-sort-option .select-sort-option-wrapper {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #242424;
  line-height: 25px;
  margin-left: 15px;
}
.filter-group-wrapper .select-sort-option .select-sort-option-wrapper label {
  margin: 0;
}
.filter-group-wrapper .select-sort-option .select-sort-option-wrapper select {
  cursor: pointer;
  margin-left: 5px;
  border: none;
  outline: none;
  -webkit-appearance: none;
  background-image: url(../../images/page/category/arr_down.png);
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 13px;
}
#category-page.active .category-sidebar {
  padding: 0;
  width: 0;
  overflow: hidden;
  opacity: 0;
}
@media only screen and (max-width: 1200px) {
  .category-sidebar {
    width: 25%;
  }
  .filter-group-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .filter-group-wrapper .list-keyword {
    width: calc(100% + 20px);
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 30px;
    padding: 0;
    margin-left: -10px;
    margin-right: -10px;
  }
}
@media only screen and (max-width: 991px) {
  .category-sidebar {
    width: 320px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100vh;
    overflow: scroll;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    background-color: white;
  }
  #category-page.active:after {
    content: '';
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.8;
  }
  #category-page.active .category-sidebar {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    visibility: visible;
    width: 320px;
    padding: 50px 0 0;
  }
  .filter-group-wrapper .btn-action {
    -webkit-transition: 0s;
    transition: 0s;
  }
  .filter-group-wrapper .btn-action.closer i:after {
    content: url(../../images/page/category/open.png);
  }
  .filter-group-wrapper .btn-action.open {
    position: fixed;
    z-index: 11;
    font-size: 0;
    top: 0;
    left: 320px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .filter-group-wrapper .btn-action.open i {
    margin: 0;
  }
  .filter-group-wrapper .btn-action.open i:after {
    content: url(../../images/page/category/close.png);
  }
  .category-sidebar .support-option {
    height: 100%;
  }
  .category-sidebar .list-support-fiter {
    height: 100%;
    overflow: auto;
    padding: 0 15px;
  }
}
@media only screen and (max-width: 767px) {
  .filter-group-wrapper .select-sort-option {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
@media only screen and (max-width: 480px) {
  .filter-group-wrapper label {
    display: none;
  }
}
