/* line 3, E:\Themes\UI-Design\style\config\_reset.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/config\/_reset\.less}line{font-family:\000033}}
* {
  margin: 0;
  padding: 0;
}
/* line 8, E:\Themes\UI-Design\style\config\_reset.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/config\/_reset\.less}line{font-family:\000038}}
body,
html {
  font-family: 'Inter', sans-serif;
}
/* line 14, E:\Themes\UI-Design\style\config\_reset.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/config\/_reset\.less}line{font-family:\0000314}}
button,
a {
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
/* line 17, E:\Themes\UI-Design\style\config\_reset.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/config\/_reset\.less}line{font-family:\0000317}}
button:hover,
a:hover {
  text-decoration: none;
}
/* line 24, E:\Themes\UI-Design\style\config\_reset.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/config\/_reset\.less}line{font-family:\0000324}}
._keyfocus *:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}
/* line 31, E:\Themes\UI-Design\style\config\_reset.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/config\/_reset\.less}line{font-family:\0000331}}
p,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0;
}
/* line 47, E:\Themes\UI-Design\style\config\_reset.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/config\/_reset\.less}line{font-family:\0000347}}
ul {
  padding: 0;
  list-style: none;
}
/* line 53, E:\Themes\UI-Design\style\config\_reset.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/config\/_reset\.less}line{font-family:\0000353}}
table th {
  text-align: left;
}
/* line 57, E:\Themes\UI-Design\style\config\_reset.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/config\/_reset\.less}line{font-family:\0000357}}
table .col {
  width: auto;
}
/* line 1, E:\Themes\UI-Design\style\config\_mixin.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/config\/_mixin\.less}line{font-family:\000031}}
.hidden {
  display: none !important;
}
/* line 5, E:\Themes\UI-Design\style\config\_mixin.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/config\/_mixin\.less}line{font-family:\000035}}
.alignleft {
  float: left;
}
/* line 9, E:\Themes\UI-Design\style\config\_mixin.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/config\/_mixin\.less}line{font-family:\000039}}
.alignright {
  float: right;
}
/* line 49, E:\Themes\UI-Design\style\config\_mixin.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/config\/_mixin\.less}line{font-family:\0000349}}
.hidden-visibility {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 60, E:\Themes\UI-Design\style\config\_mixin.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/config\/_mixin\.less}line{font-family:\0000360}}
.button-close {
  background-image: none;
  -moz-box-sizing: content-box;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-shadow: none;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  position: absolute;
}
/* line 75, E:\Themes\UI-Design\style\config\_mixin.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/config\/_mixin\.less}line{font-family:\0000375}}
.center-transform {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/* line 102, E:\Themes\UI-Design\style\config\_mixin.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/config\/_mixin\.less}line{font-family:\00003102}}
.dflex {
  display: -webkit-box;
  display: -ms-flex-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/* line 109, E:\Themes\UI-Design\style\config\_mixin.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/config\/_mixin\.less}line{font-family:\00003109}}
.dflex:before,
.dflex:after {
  display: none;
}
/* line 3, E:\Themes\UI-Design\style\pages\_category.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/pages\/_category\.less}line{font-family:\000033}}
.category-sidebar {
  width: 30%;
}
/* line 6, E:\Themes\UI-Design\style\pages\_category.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/pages\/_category\.less}line{font-family:\000036}}
.category-sidebar ul {
  list-style: none;
  padding: 0;
}
/* line 11, E:\Themes\UI-Design\style\pages\_category.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/pages\/_category\.less}line{font-family:\0000311}}
.category-sidebar .show-option {
  color: #242424;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
/* line 16, E:\Themes\UI-Design\style\pages\_category.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/pages\/_category\.less}line{font-family:\0000316}}
.category-sidebar .show-option:hover {
  color: #993a3a;
}
/* line 18, E:\Themes\UI-Design\style\pages\_category.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/pages\/_category\.less}line{font-family:\0000318}}
.category-sidebar .show-option .name-option {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  text-transform: uppercase;
}
/* line 26, E:\Themes\UI-Design\style\pages\_category.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/pages\/_category\.less}line{font-family:\0000326}}
.category-sidebar .show-option .show {
  font-size: 25px;
  line-height: 30px;
}
/* line 34, E:\Themes\UI-Design\style\pages\_category.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/pages\/_category\.less}line{font-family:\0000334}}
.category-sidebar .list-support-fiter > li:not(:last-child) {
  margin-bottom: 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid #EFEFEF;
}
/* line 42, E:\Themes\UI-Design\style\pages\_category.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/pages\/_category\.less}line{font-family:\0000342}}
.category-sidebar .list-support-option {
  margin-top: 15px;
}
/* line 45, E:\Themes\UI-Design\style\pages\_category.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/pages\/_category\.less}line{font-family:\0000345}}
.category-sidebar .list-support-option.size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
/* line 51, E:\Themes\UI-Design\style\pages\_category.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/pages\/_category\.less}line{font-family:\0000351}}
.category-sidebar .list-support-option.size li {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 1px;
  padding: 15px 20px;
  margin-right: 10px;
  line-height: 20px;
  margin-bottom: 10px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  cursor: pointer;
}
/* line 63, E:\Themes\UI-Design\style\pages\_category.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/pages\/_category\.less}line{font-family:\0000363}}
.category-sidebar .list-support-option.size li:hover,
.category-sidebar .list-support-option.size li:active {
  background: #242424;
}
/* line 67, E:\Themes\UI-Design\style\pages\_category.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/pages\/_category\.less}line{font-family:\0000367}}
.category-sidebar .list-support-option.size li:hover a,
.category-sidebar .list-support-option.size li:active a {
  color: white;
  text-decoration: none;
}
/* line 75, E:\Themes\UI-Design\style\pages\_category.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/pages\/_category\.less}line{font-family:\0000375}}
.category-sidebar .list-support-option.color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
/* line 81, E:\Themes\UI-Design\style\pages\_category.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/pages\/_category\.less}line{font-family:\0000381}}
.category-sidebar .list-support-option.color li {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  cursor: pointer;
}
/* line 95, E:\Themes\UI-Design\style\pages\_category.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/pages\/_category\.less}line{font-family:\0000395}}
.category-sidebar .list-support-option.color li:hover,
.category-sidebar .list-support-option.color li:active {
  border: 2px solid #9A9A9A;
}
/* line 100, E:\Themes\UI-Design\style\pages\_category.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/pages\/_category\.less}line{font-family:\00003100}}
.category-sidebar .list-support-option.color li a {
  font-size: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
/* line 110, E:\Themes\UI-Design\style\pages\_category.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/pages\/_category\.less}line{font-family:\00003110}}
.category-sidebar .list-support-option a {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #808080;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  text-transform: capitalize;
}
/* line 122, E:\Themes\UI-Design\style\pages\_category.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/pages\/_category\.less}line{font-family:\00003122}}
.category-sidebar .list-support-option:not(.swatch) li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
/* line 131, E:\Themes\UI-Design\style\pages\_category.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/pages\/_category\.less}line{font-family:\00003131}}
.category-sidebar .list-support-option:not(.swatch) li:not(:last-child) {
  margin-bottom: 15px;
}
/* line 135, E:\Themes\UI-Design\style\pages\_category.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/pages\/_category\.less}line{font-family:\00003135}}
.category-sidebar .list-support-option:not(.swatch) li:before {
  content: url(../../images/page/category/check.png);
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  left: 0;
}
/* line 145, E:\Themes\UI-Design\style\pages\_category.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/pages\/_category\.less}line{font-family:\00003145}}
.category-sidebar .list-support-option:not(.swatch) li:hover,
.category-sidebar .list-support-option:not(.swatch) li.active {
  padding-left: 25px;
}
/* line 149, E:\Themes\UI-Design\style\pages\_category.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/pages\/_category\.less}line{font-family:\00003149}}
.category-sidebar .list-support-option:not(.swatch) li:hover:before,
.category-sidebar .list-support-option:not(.swatch) li.active:before {
  opacity: 1;
}
/* line 153, E:\Themes\UI-Design\style\pages\_category.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/pages\/_category\.less}line{font-family:\00003153}}
.category-sidebar .list-support-option:not(.swatch) li:hover a,
.category-sidebar .list-support-option:not(.swatch) li.active a {
  color: #242424;
  text-decoration: none;
}
/* line 162, E:\Themes\UI-Design\style\pages\_category.less */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/Themes\/UI-Design\/style\/pages\/_category\.less}line{font-family:\00003162}}
.category-products {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
