* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body,
html {
    font-family: 'Inter', sans-serif;
}

button,
a {
    border: none;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

button:focus,
a:focus,
button:hover,
a:hover {
    text-decoration: none;
    outline: none;
    border: none;
}

*:focus {
    box-shadow: none;
    outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0;
}

ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

table th {
    text-align: left;
}

table .col {
    width: auto;
}

@media only screen and (min-width: 1600px) {
    .container {
        max-width: 1600px;
        padding: 0 30px;
    }
}

.hidden {
    display: none !important;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.hidden-visibility {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.button-close {
    background-image: none;
    -moz-box-sizing: content-box;
    border: 0;
    box-shadow: none;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-shadow: none;
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
    position: absolute;
}

.center-transform {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.dflex {
    display: -webkit-box;
    display: -ms-flex-box;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

.dflex:before,
.dflex:after {
    display: none;
}

.tab-content {
    overflow: hidden;
}

.tab-content .content {
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.tab-content .content.active-tab-content {
    height: auto;
    opacity: 1;
    visibility: visible;
}

.title-wrapper {
    text-align: center;
    padding: 0 15px;
    margin-bottom: 40px;
}

.title-wrapper .title {
    font-family: 'EB Garamond', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #242424;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px auto 10px;
}

.title-wrapper .desc {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #242424;
}

.slide-product-demo .item {
    position: relative;
    overflow: hidden;
}

.slide-product-demo .item img {
    transition: 0.3s ease-in;
    width: 100%;
}

.slide-product-demo .item .see-more {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 1;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in;
    transform: translateY(100%);
}

.slide-product-demo .item .see-more a {
    height: 48px;
    line-height: 48px;
    display: block;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #242424;
}

.slide-product-demo .item .see-more a:hover {
    background-color: #242424;
    color: #fff;
}

.slide-product-demo .item:hover img {
    transform: scale(1.1);
}

.slide-product-demo .item:hover .see-more {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.slide-product-demo .slick-list {
    margin: 0 -15px;
}

.slide-product-demo .slick-slide {
    padding: 0 15px;
}

.exhibition-block img {
    transition: 0.3s ease-in;
    width: 100%;
}

.new-collection {
    margin-bottom: 55px;
    margin-top: 55px;
}

.new-collection .banner-wrapper {
    overflow: hidden;
}

.new-collection img {
    width: 100%;
}

.summer-collection {
    margin-bottom: 55px;
}

.summer-collection .title-wrapper {
    padding: 0;
}

.summer-collection .link-more {
    display: block;
    width: 100%;
    margin: 15px auto 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #242424;
}

.summer-collection .link-more:hover {
    color: #993a3a;
    letter-spacing: 1px;
}

.summer-collection img {
    width: 100%;
}

.summer-collection .thumbnail-slide {
    max-width: 70px;
    overflow: hidden;
}

.summer-collection .thumbnail-slide li {
    border: 1px solid white;
    transition: 0.3s ease-in;
    cursor: pointer;
}

.summer-collection .thumbnail-slide li:hover {
    border: 1px solid #993a3a;
}

.summer-collection .thumbnail-slide i {
    display: block;
    text-align: center;
    color: #DEDEDE;
    font-weight: lighter;
    transition: 0.3s ease-in;
    font-size: 30px;
    cursor: pointer;
}

.summer-collection .thumbnail-slide i:hover {
    color: #242424;
}

.summer-collection .slide-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.summer-collection .main-slide {
    max-width: 1000px;
}

.summer-collection .main-slide .item img {
    transition: 0.3s ease-in;
    width: 100%;
}

.summer-collection .main-slide .item span {
    padding: 0 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ffffffba;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in;
    transform: translateY(100%);
    height: 64px;
    line-height: 64px;
    display: block;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    color: #242424;
}

.summer-collection .main-slide .item span:hover {
    background-color: #242424;
    color: #fff;
}

.summer-collection .main-slide .item:hover img {
    transform: scale(1.1);
}

.summer-collection .main-slide .item:hover span {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.material-design {
    margin-bottom: 55px;
}

.material-design img {
    width: 100%;
}

.material-design .title {
    margin-bottom: 20px;
}

.material-design div.title-wrapper {
    margin-bottom: 0;
    padding: 20px 0;
}

.material-design .btn-link-more {
    margin-top: 20px;
    display: inline-block;
    height: 40px;
    line-height: 38px;
    background: #FFFFFF;
    border: 1px solid #242424;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #242424;
    padding: 0 40px;
}

.material-design .btn-link-more:hover {
    background-color: #242424;
    color: #fff;
}

.skill-block {
    margin-bottom: 55px;
}

.skill-block .btn-link-more {
    margin: 40px auto 0;
    display: inline-block;
    height: 40px;
    line-height: 38px;
    background: #FFFFFF;
    border: 1px solid #242424;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #242424;
    padding: 0 40px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.skill-block .btn-link-more:hover {
    background-color: #242424;
    color: #fff;
}

.quilify-block {
    margin-bottom: 55px;
}

.quilify-block .title-wrapper {
    margin-bottom: 25px;
}

.quilify-block img {
    width: 100%;
}

.quilify-block .banner-wrapper {
    margin-bottom: 20px;
}

.quilify-block .slick-list {
    margin: 0 -8px;
}

.quilify-block .slick-slide {
    padding: 0 8px;
}

@media only screen and (min-width: 1600px) {
    .quilify-block.container {
        max-width: 1280px;
    }
    .summer-collection.container {
        max-width: 1150px;
    }
}

@media only screen and (max-width: 1200px) {
    .summer-collection .main-slide {
        max-width: calc(100% - 100px);
    }
    .container .title-wrapper {
        padding: 0;
    }
    .title-wrapper .title {
        font-size: 20px;
        line-height: 25px;
    }
    .title-wrapper .desc {
        font-size: 14px;
    }
    .title-wrapper .desc br {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .summer-collection .thumbnail-slide {
        max-width: 30px;
    }
    .summer-collection .main-slide {
        max-width: calc(100% - 45px);
    }
}