.page-news-pass .seciton-news-pass {
  text-align: center;
}
.page-news-pass .seciton-news-pass .block-title-heading {
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  font-family: 'EB Garamond', serif;
  padding: 35px 0 8px 0;
  display: block;
}
.page-news-pass .seciton-news-pass .actions-toolbar {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 28px;
}
.page-news-pass .seciton-news-pass .actions-toolbar a {
  font-weight: 700;
  color: #242424;
}
.page-news-pass .seciton-news-pass .block-content {
  max-width: 372px;
  display: block;
  margin: 0 auto;
  text-align: left;
}
.page-news-pass .seciton-news-pass .block-content .label {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 10px;
}
.page-news-pass .seciton-news-pass .block-content .label .icon {
  color: #C31D1D;
}
.page-news-pass .seciton-news-pass .block-content .field input {
  height: 52px;
  width: 100%;
  border-radius: 1px;
  border: 1px solid #E8E8E8;
  padding: 16px;
}
.page-news-pass .seciton-news-pass .block-content .field input:focus-visible {
  outline: none;
}
.page-news-pass .seciton-news-pass .block-content .actions-toolbar {
  margin-top: 16px;
}
.page-news-pass .seciton-news-pass .block-content .actions-toolbar .action-confirm {
  background-color: #242424;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
}
.page-news-pass .seciton-news-pass .block-content .actions-toolbar .action-confirm:hover {
  background-color: #313131;
}
@media only screen and (max-width: 575px) {
  .page-news-pass .seciton-news-pass .block-title-heading {
    font-size: 24px;
    line-height: 31px;
    padding: 20px 0 16px 0;
  }
  .page-news-pass .seciton-news-pass .actions-toolbar {
    display: none;
  }
}
.header .header-custom-links .header-custom-link {
  display: inline-block;
}
.hidden {
  display: none !important;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.hidden-visibility {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.button-close {
  background-image: none;
  -moz-box-sizing: content-box;
  border: 0;
  box-shadow: none;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-shadow: none;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  position: absolute;
}
.center-transform {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.dflex {
  display: -webkit-box;
  display: -ms-flex-box;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}
.dflex:before,
.dflex:after {
  display: none;
}
* {
  margin: 0;
  padding: 0;
}
body,
html {
  font-family: 'Inter', sans-serif;
}
button,
a {
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
button:hover,
a:hover {
  text-decoration: none;
}
._keyfocus *:focus {
  box-shadow: none;
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0;
}
ul {
  padding: 0;
  list-style: none;
}
table th {
  text-align: left;
}
table .col {
  width: auto;
}
